#ulDiv {
	background-color: orange;
}

.dropdown {
	background-color: red;
	padding: 0px;
}


.dropdown-toggle {
	background-color: black;
	color: white;
	font-size: 25px;
	width: 100px;
	outline: 0;
	border: none;
	border-radius: 100px;
}

.dropdown-menu {
	font-size: 25px;
}

.dropdown-menu li a {
	background-color: black;
	color: white;
	text-align: center;
}