extends layout.pug

block content
	
	.flex-home-container(ng-controller='homeCtrl' class='home')
		div(class='myTooltip' data-toggle='tooltip' title='Mouseover to see menu')
		div(class='info-main')
			ul(class='my-tabs')
				li(ng-click='switchChange("profile")' ng-class='{ switchClass: switches.profile == true }')
					a(href="#") Profil
				li(ng-click='switchChange("skills")' ng-class='{ switchClass: switches.skills == true }')
					a(href="#") Umiejętności
				li(ng-click='switchChange("education")' ng-class='{ switchClass: switches.education == true }')
					a(href="#") Wykształcenie
				li(ng-click='switchChange("tech")' ng-class='{ switchClass: switches.tech == true }')
					a(href="#") Website info
			
			div(class='content-wrapper')
				div(class='photo-content-space')
					img(src="./CV/profilePhoto.jpg", alt="")

				div(class='content-space')
					div(ng-show='switches.profile == true')
						p <strong>Imię:</strong> Michał Martyniuk
						p <strong>E-mail:</strong> michal.martyniuk7@gmail.com
						p <strong>Data urodzenia:</strong> 08.09.1990
						p <strong>Zainteresowania:</strong> nowe technologie, programowanie funkcyjne, MEAN stack development
						p <strong>Profil GitHub:</strong> 
							span(class='profile-link' href='https://github.com/michalMartyniuk') https://github.com/michalMartyniuk
						p <strong>Profil linkedIn:</strong> 
							span(class='profile-link' href='https://www.linkedin.com/in/michalMartyniuk') www.linkedin.com/in/michalMartyniuk  
					div(ng-show='switches.skills == true')
						p <strong>Podstawowa znajomość:</strong> PHP, Linux, Bash, C++, C#
						p <strong>Dobra znajomość:</strong> HTML, CSS, Javascript
						p <strong>Znane technologie:</strong> MongoDB, Express.js, Angular, Typescript, AngularJS, Node.js, jQuery, Ajax, Sass, Pug, Bootstrap, Webpack, Grunt, Git
					div(ng-show='switches.tech == true')
						p(class='content-title')
							p Strona została stworzona z wykorzystaniem MEAN stack (MongoDB, Express.js, AngularJS, Node.js) oraz: jQuery, Sass, Pug, Bootstrap, Webpack.
					div(ng-show='switches.education == true')
						p(class='content-title')
						p <strong>2009 - 2015</strong>: Wyższa Szkoła Języków Obcych im. Samuela Bogumiła Lindego z siedzibą w Poznaniu <br>
							|<strong>Kierunek</strong>: japonistyka <br>
							|<strong>Poziom wykształcenia</strong>: licencjat <br>
						p <strong>2015</strong>: Collegium Da Vinci z siedzibą w Poznaniu <br>
							|<strong>Kierunek</strong>: informatyka <br>
							|<strong>Poziom wykształcenia</strong>: w trakcie studiów <br>



