.container-fluid
	nav#mainNav(class='navbar navbar-inverse fixed-top')
		.navbar-header.col-md-3
			a(class='navbar-brand' href='home') Website	
		.container#ulContMain.col-md-9
			.container#ulContSub.col-md-12.col-md-offset-1
				ul#ulId(class='nav navbar-nav col-md-12')
					li
						a(href="home") Home
					li
						a(href="register") Register
					li
						a(href='gallery') Gallery
												
					if userLogged
						li
							a(href="profile") Profile
							
					if userLogged
						li
							a(href="todo") To-do list
					li
						a(href="login") Login
					
					if userLogged
						li
							a(href='logout') Log out