extends layout.pug

block content
	if userLogged
		.container(ng-controller='profileCtrl')
			
			.row(class='profileRow')
				.container(class='col-md-4 col-xs-offset-2 profileKey') Username
				.container(class='col-md-4 profileValue') #{user.username}
			
			.row(class='profileRow')
				.container(class='col-md-4 col-xs-offset-2 profileKey') Name
				.container(class='col-md-4 profileValue') #{user.name}
			
			.row(class='profileRow')
				.container(class='col-md-4 col-xs-offset-2 profileKey') Email
				.container(class='col-md-4 profileValue') #{user.email}
			
			.row(class='resetBckRow')
				button(class='btn btn-primary btn-lg col-xs-8 col-xs-offset-2 submitBtn' type='button' ng-click='resetBck()') Reset Background
			.row(class='resetHeadBckRow')
				button(class='btn btn-primary btn-lg col-xs-8 col-xs-offset-2 submitBtn' type='button' ng-click='resetHeadBck()') Reset Headline Background
