extends layout.pug

block content
	//- FLEX TEST

	if userLogged
		div(class='mainFlex' ng-controller='profileCtrl')
			div(class='flex-item-container')
				div(class='flex-item-one') Username: 
				div(class='flex-item-two') #{user.username}
			div(class='flex-item-container')
				div(class='flex-item-one') Name: 
				div(class='flex-item-two') #{user.name}
			div(class='flex-item-container')
				div(class='flex-item-one') Email: 
				div(class='flex-item-two') #{user.email}
			div(class='flex-item-container')
				div(class='flex-item-one') Background: 
				div(class='flex-item-two') #{background}
			
	//- 		//- div(class='resetBckRow')
	//- 		//- 	button(class='btn btn-primary btn-lg submitBtn' type='button' ng-click='resetBck()') Reset Background
	//- 		//- div(class='resetHeadBckRow')
	//- 		//- 	button(class='btn btn-primary btn-lg submitBtn' type='button' ng-click='resetHeadBck()') Reset Headline Background
