extends layout.pug

block content
	.row
		.container(class='col-md-3')
			h2 Username
		.container(class='col-md-3')
			h2= username
	.row
		.container(class='col-md-3')
			h2 Email
		.container(class='col-md-3')
			h2= email
	.row
		.container(class='col-md-3')
			h2 Another
		.container(class='col-md-3')
			h2 another
