extends layout.pug

block content
	if userLogged
		.row
			.container(class='col-md-3')
				h2 Username
			.container(class='col-md-3')
				h2 #{user.username}
		.row
			.container(class='col-md-3')
				h2 Name
			.container(class='col-md-3')
				h2 #{user.name}
		.row
			.container(class='col-md-3')
				h2 Email
			.container(class='col-md-3')
				h2 #{user.email}
