extends layout.pug

block content
	.container
		h3 #{errors}
	.container(ng-controller='registerCtrl')
		form(method='post' action='/register')
			.form-group
				label(for='username') Username: 
				input(type='username' class='form-control' name='username')
			.form-group
				label(for='name') Name:
				input(type='text' class='form-control' name='name')
			.form-group
				label(for='email') Email: 
				input(type='email' class='form-control' name='email')
			.form-group
				label(for='password') Password: 
				input(type='password' class='form-control' name='password')
			button(type='submit' class='btn btn-primary btn-lg btn-block' id='submitBtn') Submit