extends layout.pug

block content
    div(class='task-main-container' ng-controller='todoCtrl')
      //- #errorMsg.alert(ng-class='{ "alert-danger": switches.error == true, "alert-success": switches.success == true, "alert-info": switches.empty == true }', ng-show='switches.error || switches.success || switches.empty')
      //-   | {{ msg }}

      div(class='task-add-container')
        div(class='new-task-title') Add new task
        
        div(class='input-and-btn')
          input(class='new-task-input' ng-model='title', type='text', name='task')
          button#addBtn.btn.btn-success.btn-lg.btn-block(class='new-task-btn' ng-click='add()') Add

      div(class='tasks-wrapper')
        div(class='tasks-head') Tasks
        div( class='task-tasks-container' ng-repeat='task in tasks')
          div(class='task-text' ng-show='!task.edit')
            p {{ task.name }}
          
          div(class='task-text' ng-show='task.edit')
            input(id='editInput' ng-model='task.name', type='text')
          
          div(class='task-btn')
            button(class='btn btn-danger' ng-click='delete()') Delete
            button(class='btn btn-info' ng-click='edit()') Edit
            button(class='btn btn-success' ng-click='done()') Done
      
      div(class='done-tasks-container')
        div(class='done-task-head') Done tasks list
        div(class='done-task' ng-repeat='task in doneTasks')
          | {{ task }}
