extends layout.pug

block content
	h1= success
	
	if success
		.container
			h3 Successful Validation
	else
		.container
			form(method='post' action='/validation')
				.form-group
					label(for='username') Username: 
					input(type='username' class='form-control' name='username')
				.form-group
					label(for='email') Email: 
					input(type='email' class='form-control' name='email')
				.form-group
					label(for='password') Password: 
					input(type='password' class='form-control' name='password')
				.form-group
					label(for='password2') Confirm password: 
					input(type='password' class='form-control' name='password2')
				
				button(type='submit' class='btn btn-primary btn-lg btn-block' id='submitBtn') Submit