$my-menu-blue: #1995DD;

// GREY
$shadow: #2A3132;
$stone: #336B87;
$mist: #90AFC5;
$warm-grey: #BCBABE;
$slate: #626D71;

// GREEN
$pine: #34675C;


// ORANGE
$headline-orange: #E5A64E;
$tangerine: #F0810F;

// BLUE
$blue-grey: #8593AE;
$deep-purple: #363237;
$wave: #66A5AD;
$deep-aqua: #003B46;
$thunder-cloud: #505160;
$blueberry: #063852;
$waterfall: #68829E;
$indigo: #2D4262;
$ice: #A1D6E2;
$blue-pine: #324851;
$sea: #2F496E;


$onyx: #0F1F38;
$cobalt: #3A5199;
$glacier-blue: #1995AD;
$fresh-blue: #67BACA;
$sea-foam: #c4dfe6;

