@import 'colors';

:root {
	--bck: #101F3C;
}

html {
	height: 100%;
}

body {
	background-image: url('/img/emailBirds.jpg');
	background-size: 100vw 100vh;
	background-attachment: fixed;
	height: 100%;
	color: $onyx;
	font-size: 25px;
	letter-spacing: 2px;	
    font-family: 'Audiowide', cursive;
}

.decoDiv {
	display: flex;
	position: fixed;
	width: 80%;
	height: 60px;
	margin: 0px 10%;
	background-color: $tangerine;
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
	z-index: 1;
}	

.headlineWrapper {
	display: flex;
	width: 95%;
	height: 60px;
	margin: auto;
	padding: 0px;
	// box-shadow: 0px 10px 40px $onyx;
	background-color: $onyx;
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
}

.jumboMenu {
	display: none;
	position: relative;
	width: 95%;
	height: 80%;
	justify-content: center;
	margin: 0px auto;
	padding: 0px;
	background-color: $my-menu-blue;
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
}

.jumboTitle {
	display: none;
	width: 95%;
	height: 80%;
	justify-content: center;
	margin: 0 auto;
	padding: 0px;
	background-color: $blueberry;
	color: orange;
	font-size: 35px;
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
}

.jumboDivWrapper{
	display: flex;
	margin: 0px 2%;
	padding: 0px 2%;
	// border: 5px solid orange;
	border-radius: 20px;
}

.jumboDiv {
	display: flex;
	margin: auto;
	border-radius: 10px;	
	font-size: 25px;
}

.jumboDiv a {
	margin: auto;
	color: $blueberry;
	text-decoration: none;
}



.jumboTitleShow {
	display: flex;
	animation: jumboTitleShow 2s forwards;
}

.jumboMenuShow {
	display: flex;
	animation: jumboShow 1s forwards;
}


// .jumboDiv a:hover {
// 	animation: jumboA 0.5s forwards;
// }


.contentWrapper {
	position: relative;
	top: 140px;
}

.errorMsg {
	display: none;
	width: 90%;
	height: 70%;
	justify-content: center;
	margin: auto;
	padding: 0px;
	background-color: $blueberry;
	color: orange;
	border-bottom-left-radius: 200px;
	border-bottom-right-radius: 200px;
	font-size: 30px;
}

.errorMsgShow {
	display: flex;
}

.errorWrapper {
	display: flex;
	width: 80%;
	height: 150px;
	margin: 0px 10%;
	justify-content: center;
	background-color: lightsteelblue;
	box-shadow: 0px 0px 20px lightsteelblue;
	border-radius: 20px;
}

.errorDiv {
	margin: auto;
	color: $blueberry;
	
}

/*Animation dynamic classes*/

.divClass {}
.divSwitch {
	animation: targetAnim 0.2s forwards;
}

// .divSwitch2 {
// 	animation: otherAnim 0.2s forwards;
// }

@keyframes targetAnim {
	0% { 
		
	}
	100% {
		background-color: $tangerine;
	}
}

@keyframes otherAnim {
	0% {}

	100% { opacity: 0.5}

}

@keyframes jumboA {
	0% { }
	100% { 
	 	text-shadow: 0px 0px 20px $onyx; 
		letter-spacing: 5px;
	}
}


@keyframes jumboShow {
	0%{ top: -50px;}
	100%{ opacity: 1; top: 0px;}
}

@keyframes jumboTitleShow {
	0%{ opacity: 0; letter-spacing: 0px;}
	100%{ opacity: 1; letter-spacing: 20px;}
}


@keyframes jumbotronAnim {
	0% {}
	100% {
		height: 150px;
	}
}
