@import 'colors';

form {
	margin: 0px;
	padding: 0px;
	background-color: steelblue;
	border-radius: 20px;
	border: 10px solid steelblue;
	box-shadow: 0px 0px 20px steelblue;
}

.form-group {
	padding: 10px 20px;
	border-radius: 10px;
	background-color: lightsteelblue;
	color: $blueberry;
	box-shadow: 0px 0px 1px black;
	
}

.myLabel {
	font-size: 25px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

.myInput {
	font-size: 25px;
	height: 40px;
	padding: 5px 10px;
	border: 1px solid black;
	border-radius: 5px;
}

.submitBtn {
	background-color: $tangerine;
	border: 1px solid black;
	color: $blueberry;
	font-size: 25px;
}

.submitBtn:hover {
	background-color: $hover-tangerine;
}
