@import 'colors';

.task-main-container {
	display: flex;
	flex-direction: column;
	color: $blueberry;
	border-radius: 0px;
	width: 80%;
	margin: 22px auto 0px auto;
}


/*ADD TASKS AREA*/

.task-add-container {
	display: flex;
	//background-color: darkorange;
	width: 100%;
	margin-bottom: 20px;
	padding: 0px;
	border-radius: 50px;
}

.new-task-input {
	font-family: "Fresca";
	font-size: 30px;
	flex: 3;
	height: 50px;
	padding-left: 20px;
	border: none;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.new-task-btn {
	flex: 1;
	height: 50px;
	background-color: $tangerine;
	border: none;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.new-task-btn:hover {
	background-color: #FFA000;
}


/*TASK LIST AREA*/

.tasks-heads-wrapper {
	display: flex;
	width: 100%;
}

.tasks-head, .done-task-head {
	flex: 1;
	display: flex;
	width: 49%;
    height: 50px;
	background-color: $my-menu-blue;
    font-size: 25px;
	p {
		margin: auto;
	}
}

.tasks-head {
	border-top-left-radius: 20px;
}

.done-task-head {
	border-top-right-radius: 20px;
}


.tasks-head:hover, .done-task-head:hover {
	background-color: $hover-tangerine;
}

.switchClass {
	background-color: $tangerine;
}



.task-area-wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 200px;
	background-color: steelblue;
	border-radius: 20px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;

}

.content-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.tasks-container {
	display: flex;
	width: 95%;
	min-height: 50px;
	margin: 15px auto auto auto;
	border-radius: 20px;
}

.task-text {
	display: flex;
	flex: 3;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: lightsteelblue;
    padding: 5px 10px;

	p {
		font-family: "Fresca";
		font-size: 30px;
		margin: auto;
	}

	input {
		margin: auto 10px;
	}
}

.editInput {
	flex: 3;
	font-family: "Fresca";
	font-size: 30px;
	border-radius: 20px;
	padding-left: 20px;
	border: 1px solid black;
}


.task-btn {
	flex: 1;	
	display: flex;
	border-radius: 20px;
	
	button {
		flex: 1;
    	background-color: $tangerine;
    	color: $blueberry;
    	font-size: 20px;
    	border: none;

	}
	button:hover {
		background-color: $hover-tangerine;
	}

	.done-btn {
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
	}
}

.editMode {
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

/*DONE TASKS AREA*/

// .done-tasks-container {
// 	flex: 1;
// 	display: flex;
// 	flex-direction: column;
// 	background-color: steelblue;
// }

.done-tasks-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: auto;
	padding: 20px 0px;
}

.done-tasks-list {
	display: flex;
	width: 95%;
	min-height: 50px;
	margin: 0px auto 15px auto;
	padding: 5px 10px;
	background-color: lightsteelblue;
	border-radius: 20px;

	p {
		font-family: "Fresca";
		font-size: 30px;
		margin: auto;
	}
}


.clear-done-tasks {
	width: 50%;
	height: 50px;
	margin: 20px auto;
	background-color: $tangerine;
	border: none;
	border-radius: 10px;
}

.clear-done-tasks:hover {
	background-color: $hover-tangerine;
}




/*ERROR MSG*/
#errorMsg {
	text-align: center;
	border-radius: 20px;
	margin: 50px 0px;

}

