/*.gallDiv {
	background-color: red;
	margin: 20px;
}
*/

#galleryCont {
}

.gallImg {
	box-shadow: 0px 0px 20px black;
	background-color: black;
	padding: 5px;
	margin: 20px;
	width: 350px;
	height: 200px;
}

.imgOver {
	animation: imgAnim 0.5s forwards;
	cursor: pointer;
}


@keyframes imgAnim {
	0% {
		width: 350px;
		height: 200px;
	}

	100% {
		width: 400px;
		height: 250px;
		box-shadow: 0px 0px 200px white;
		background-color: white;
	}
}


/*MODAL CSS*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: 0px;
    padding: 0px;
    display: block;
    width: 100%;
    height: 100%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px white;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.buttonCloseRow {
	padding-top: 0px;
	padding-bottom: 0px;
}

#myModal button {
	opacity: 0.5;
	border: none;
	background-color: darkblue;
	color: white;
	letter-spacing: 0px;
	font-size: 25px;
	height: 70px;
	margin-right: 0px;
}

#myModal button:hover {
	opacity: 1;
	transition: 0.3s;
}

/* The Close Button */
.close {
	border: none;
	height: 70px;
	background-color: red;
    color: white;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

