form {
	margin: 0px;
	padding: 0px;
}

.myLabel {
	text-shadow: 0px 0px 20px black;
	margin: 0px;
	padding: 0px;
}

.myInput {
	border: 2px solid black;
	height: 40px;
	border-radius: 5px;
	color: black;
	font-size: 25px;
}

.submitBtn {
	background-color: darkblue;
}

/*#regUsername:focus {
	height: 50px;
	box-shadow: 0px 0px 20px white;

}
*/
