.jumbotron {
	background-color: lightblue;
}

.navbar-header {
	letter-spacing: 20px;
	color: black;
}

#ulContMain {
	
}

#ulContSub {
	font-size: 20px;
}

#mainNav {
	border: none;
	margin: 0px;

}

#ulId {
	letter-spacing: 5px;
}

.errorDiv {
	font-size: 25px;
	background-color: #ffbaba;
	border: 1px solid black;
	border-radius: 20px;
	text-align: center;
	color: black;
}
